<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Deployment</title>
    <link rel="stylesheet" href="/deployment.css">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/MyConnectLogin">MyConnect</a></li>
        <li><a href="/ToDoActivity">ToDo</a></li>
        <li><a href="/Minilabs">MiniLabs</a></li>
        <li><a href="/Deployment">Deployment</a></li>
        <li><a href="/API">API</a></li>
    </ul>
</head>

<body>
<h1>Our Process</h1>
<p>Throughout our project, we used features such as the README and the project board (linked on the README). We used a file structure centered around splitting our project into parts to maintain organization and usability while working on the code. </p>
<div id="readme">
  <h2>Our README</h2>
  <script src="https://gist.github.com/batman084/f9739aeb9c40be67bc4b4f0cdc83d4f7.js"></script>
</div>

<div id="controller">
  <h2>Our Controller</h2>
  <script src="https://gist.github.com/batman084/2de4f445bf06d04399eab0e873492806.js"></script>
</div>

</body>
</html>