<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dhruv's Linked Lists MiniLab</title>
  <link rel="stylesheet" href="/overarching.css">
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/MyConnectLogin">MyConnect</a></li>
    <li><a href="/ToDoActivity">ToDo</a></li>
    <li><a href="/Minilabs">MiniLabs</a></li>
    <li><a href="/Deployment">Deployment</a></li>
    <li><a href="/API">API</a></li>
  </ul>
</head>
<body>

<form id="dhruvSLinkList" action="/dhruvSLinkList" method="GET">
  <h1>Enter words:</h1>

  <input name="inputA" id="inputA" required type="text"><br>

  <label for="inputA">First Word:</label><br>
  <input name="inputB" id="inputB" required type="text"><br>
  <label for="inputB">Second Word:</label><br>

  <input name="inputC" id="inputC" required type="text"><br>
  <label for="inputC">Third Word:</label><br>


  <button>Run:</button>

  <br>

  <p th:text = "'Sorted List: ' + ${listA}"></p>


</form>

</body>
</html>