<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Gautam - Inheritance</title>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/MyConnectLogin">MyConnect</a></li>
        <li><a href="/ToDoActivity">ToDo</a></li>
        <li><a href="/Minilabs">MiniLabs</a></li>
        <li><a href="/Deployment">Deployment</a></li>
        <li><a href="/API">API</a></li>
    </ul>
    <link rel="stylesheet" href="/overarching.css">

</head>
<body>
<form id="GautamInheritance" action="/GautamInheritance" method="GET">

    <h1>Gautam - Inheritance</h1>
    <br><br>
    <label for="role">Set the role here: </label>
    <input name="role" id="role" type="text"/>
    <br>
    <label for="deadline">Set the number of pages to do here:</label>
    <input name="deadline" id="deadline" type="number"/>
    <button>Display Results:</button>
    <p th:text="'Role: ' + ${roleN}">Role:</p>
    <p th:text="'Days till Deadline: ' + ${deadlineN}"></p>
    <p th:text="'Pages ToDo: ' + ${deadlineStatus}"></p>
</form>
</body>
</html>