<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overflow</title>
    <link rel="stylesheet" href="/overarching.css">
</head>
<style>
    h1 {
        color: white;
    }
    p {
        color: white;
    }
</style>
<body>
<div class="banner">
    <div class="content">
        <h1>Welcome to Overflow</h1>
        <p>Click on the button bellow to access the different sections of our project</p>
       <div>
            <button onclick="window.location.href='/MyConnectLogin'"><span></span>Click here for MyConnect API demo</button>
            <button onclick="window.location.href='/Minilabs'"><span></span>Click here for the Minilabs section</button>
            <button onclick="window.location.href='/ToDoActivity'"><span></span>Click here for the ToDo section</button>
           <button onclick="window.location.href='/Deployment'"><span></span>Click here for the Deployment section</button>
           <button onclick="window.location.href='/API'"><span></span>Click here for the API <br>section</button>
       </div>
    </div>
</div>
</body>
</html>