<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jacob Mini Labs Linked Lists</title>
    <a href="/Minilabs">Home</a>
</head>
<body>
<ul>
    <li>
        <a href="/JacobMinilabList/add-head/" class="button">Add Head</a>
    </li>
    <li>
        <a href="/JacobMinilabList/add-tail/" class="button">Add Tail</a>
    </li>
    <li>
        <a href="/JacobMinilabList/add-at/" class="button">Add At</a>
    </li>
    <li>
        <a href="/JacobMinilabList/remove/" class="button">Remove</a>
    </li>
    <li>
        <a href="/JacobMinilabList/sort/" class="button">Sort</a>
    </li>
</ul>
</body>
</html>