<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jacob Mini Labs Sort</title>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/MyConnectLogin">MyConnect</a></li>
        <li><a href="/ToDoActivity">ToDo</a></li>
        <li><a href="/Minilabs">MiniLabs</a></li>
        <li><a href="/Deployment">Deployment</a></li>
        <li><a href="/API">API</a></li>
    </ul>
    <link rel="stylesheet" href="/overarching.css">
</head>
<body>
<ul>
    <li>
        <ul>
            <li>
                <a href="JacobMinilabSort/bubble/integer/dsc" class="button">Bubble Sort Integer (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/bubble/integer/asc" class="button">Bubble Sort Integer (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/bubble/string/dsc" class="button">Bubble Sort String (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/bubble/string/asc" class="button">Bubble Sort String (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/bubble/pojo/dsc" class="button">Bubble Sort POJO (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/bubble/pojo/asc" class="button">Bubble Sort POJO (ascending)</a>
            </li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
                <a href="JacobMinilabSort/selection/integer/dsc" class="button">Selection Sort Integer (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/selection/integer/asc" class="button">Selection Sort Integer (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/selection/string/dsc" class="button">Selection Sort String (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/selection/string/asc" class="button">Selection Sort String (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/selection/pojo/dsc" class="button">Selection Sort POJO (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/selection/pojo/asc" class="button">Selection Sort POJO (ascending)</a>
            </li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
                <a href="JacobMinilabSort/insertion/integer/dsc" class="button">Insertion Sort Integer (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/insertion/integer/asc" class="button">Insertion Sort Integer (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/insertion/string/dsc" class="button">Insertion Sort String (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/insertion/string/asc" class="button">Insertion Sort String (ascending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/insertion/pojo/dsc" class="button">Insertion Sort POJO (descending)</a>
            </li>
            <li>
                <a href="JacobMinilabSort/insertion/pojo/asc" class="button">Insertion Sort POJO (ascending)</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>