<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overflow Info Page</title>
    <link rel="stylesheet" href="/overarching.css">
</head>
<style>
    h1 {
        color: white;
    }
    p {
        color: white;
    }
</style>
<body>
<div class="banner">
    <div class="content">
        <form id="OverflowInfoPage" action="/OverflowInfoPage" method="GET">
            <h1>Overflow</h1>
            <p>Project Information</p>

        </form>

        <div>
            <body>
            </body>
</html>