<!DOCTYPE html>
<html lang="en">
<head> THIS IS THE TO DO SECTION OF OUR PROJECT KEEP UP TO DATE!
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<h2>First assignment</h2>
<p :text="'Please give this event a Title: ' + ${assignment1}">Please give this event a title</p>
<a :href="${assignmentLink1}">Please Give this event a due date?</a>
<a href="/"> Click Here for Reminder</a>
<h2>Second assignment</h2>
<p :text="'Title: ' + ${assignment2}">Please give this event a title</p>
<a :href=" ${assignmentLink2}">Please give this event a due date</a>
<a href="/"> Click Here for Reminder</a>
<h2>Third assignment</h2>
<p :text="'Title: ' + ${assignment3}">Please give this event a title</p>
<a :href=" ${assignmentLink3}">Please give this event a due date</a>
<a href="/"> Click Here for Reminder</a>
</body>
</html>