<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update ToDo</title>
</head>
<body><div layout:fragment="content" th:remove="tag">
<h1>Enter in new information to update your ToDo item:</h1>
<form action="#" th:action="@{/ToDoActivity/ToDoUpdate}" th:object="${todo}" method="POST">
  <table>
    <tr>
      <td>ID:</td>
      <td th:text="${todo.id}">Item ID:</td>
      <td><input type="hidden" th:field="*{id}" readonly="readonly" /></td>
    </tr>
    <tr>
      <td>Title:</td>
      <td th:text="${todo.title}">Title</td>
      <td><input type="hidden" th:field="*{title}" readonly="readonly" /></td>
      <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title:</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="hidden" th:field="*{description}" readonly="readonly" /></td>
      <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description:</td>
    </tr>
    <tr>
      <td><button type="submit">Save Changes</button></td>
    </tr>
  </table>
</form>
</div></body>
</html>